name: CI

on:
  pull_request:
  push:
    branches:
      - main
    paths:
      - .github/workflows/01-ci.yml
      - astro.config.mjs
      - tailwind.config.cjs
      - tsconfig.json
      - package.json
      - package-lock.json
      - .npmrc
      - public/**
      - src/**

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: Install, Lint, Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build
